html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  overscroll-behavior: contain;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  top: 0;
  left: 1rem;
  user-select: none;
}
